/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #17a2b8;
}

.wrapper {
  width: auto;
  padding: 35px;
  background: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
}

.wrapper .conten-box {
  padding: 13px 20px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.header {
  display: flex;
}

button.change-color-btn {
  background-color: #3e2e2e92;
  background-repeat: no-repeat;
  border: 1px solid rgba(255, 255, 255, 0.377);
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  width: 3rem;
  height: 3rem;
  display: flex;
  position: absolute;
  right: 15px;
  top: 15px;
}

button.change-color-btn:hover{
  transform:scale(1.2);
  transition-duration:0.5s;
}

img.change-color-icon{
  width: 100%;
  height: 100%;
}

.typing-wrapper {
  position: relative;
  font-family: sans-serif;
  font-size: 21px;
  width: 100%;
  max-width: 600px;
  height: auto;
  text-align: justify;
  letter-spacing: 1px;
  word-break: break-all;
  margin-bottom: 10px;
  /* Add some spacing between the editable div and typing text */
}
#viewResultButton {
  display: none;
}
.placeholder {
  position: relative;
  color: #ccc;
  outline: none;
  width: 100%;
  height: auto;
  padding: 10px;
  /* Additional styles for font and text alignment */
  font-size: 24px;
  line-height: 1.5;
  text-align: justify;

}
.game-text{
  font-size: 40px;
}
.typing-text {
  color: black;
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: auto;
  padding: 10px;
  font-size: 24px;
  line-height: 1.5;
  text-align: justify;
  outline: none;
  border: none;
  background: none;
  letter-spacing: 1px;

}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

input {
  caret-color: transparent;
}

.content {
  margin-top: 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem
}

h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: monospace;
  padding: 0.7em;
}

.keyboard {
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    margin-bottom: 100px;
}

.keyboard__row {
    display: inline-block;
    height: 3em;
    margin: 0.2em;
}

.keyboard__row--h1 {
    height: 1.7em;
    line-height: 1.4em;
}

.keyboard__row--h3 {
    height: 3.3em;
}

.keyboard__row > * {
    position: relative;
    background: #333;
    text-align: center;
    color: #eee;
    float: left;
    border-radius: 0.3em;
    margin: 0.2em;
    padding: 0.2em;
    width: 3.3em;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-user-select: none;
    border: 1px solid #444;
    box-shadow: 0 0.2em 0 0.05em #222;
    border-bottom-color: #555;
    opacity: 0.5;
}

.keyboard__row--h1 > div {
    width: 3.5em;
}

.keyboard__row > div[data-pressed],
.keyboard__row > div:active {
    background: #2a2a2a;
    color: #aaa;
    position: relative;
    top: 0.2em;
    box-shadow: 0 0 0 0.05em black;
}

.key--w3 {
    width: 4.6em;
}

.key--w4 {
    width: 6em;
}

.key--w5 {
    width: 6.5em;
}

.key--w6 {
    width: 8.3em;
}

.key--space {
    width: 18em;
}

.key--double > * {
    padding-top: 0.1em;
}

.key--letter {
    line-height: 2.8em;
}

.key--bottom-left > * {
    position: absolute;
    text-align: left;
    bottom: 0.4em;
    left: 0.4em;
}

.key--bottom-right > * {
    position: absolute;
    text-align: right;
    bottom: 0.4em;
    right: 0.4em;
}

.key--fn > * {
    font-size: 0.6em;
    line-height: 1em;
    padding-top: 1.2em;
    padding-right: 0.2em;
    text-align: right;
    float: right;
}

.key--word > * {
    font-size: 0.8em;
}

.key--arrow--tall > *,
.key--arrow > * {
    font-size: 0.5em;
    line-height: 3em;
}
#timeDisplay, #timeText {
  font-size: 25px;
}
.key--arrow {
    height: 1.8em;
    margin-top: 1.7em;
    line-height: 0.5em;
}

.key--arrow--tall > * {
    padding-top: 0.2em;
}

.keyboard > .keyboard__row {
    text-align: center;
}

.keyboard--hidden {
  display: none;
}
h1.wpm-text{
  font-size: 31px;
  
}

p span#mistakesCount {
  font-size: 25px;
}

p span#accuracyPercentage {
  font-size: 25px;
}
.modal-footer {
  margin:5rem;
  /* padding-right: 10px; */
}
modal-header-title
modal-heading-title

.modal-header {

}
.modal-heading-sub-title {

}
h1.modal-heading-title {
  font-size: 50px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.modal-main {

}
.modal-main-top {

}
.modal-main-bottom {
  margin-left: 20px;
}
.modal-footer {

}

button.continue-btn.button-28 {
  margin-right: 1rem;
  
}

@keyframes fire {
  0% {
    color: red; /* Starting color */
  }
  25% {
    color:green
  }
  50% {
    color: rgb(255, 222, 0); /* Middle color */
  }
  75%{
    color:blue
  }
  100% {
    color: pink; /* Ending color */
  }
}

/* Apply the animation to the element */
.fire-effect {
  animation-name: fire;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  animation-name: appear;
  animation-duration: 0.5s;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30rem;
  height: 50%;
  animation-name: modal-appear;
  animation-duration: 0.5s;
  border-radius: 15px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
  margin-top:-20px;
  margin-right: -10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  animation-name: rotate;
  animation-duration: 0.7s;
}

@keyframes modal-disappear {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes modal-appear {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

.transition-background {
  transition: background-color 0.5s ease;
}

.dark-background {
  background-color: rgba(0, 0, 0, 0.8);
}

.white-font-anmiation {
  transition: color 0.5 ease;
  color:white;
}


.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 10px;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}


.input-active {
  color: #03ddfe; /* Change this to the color you prefer */
  /* Add any other styling you want for the active input */
}